.app__light-theme {
  background: white;
  color: $text-main;

  a {
    color: $link;
  }

  code {
    background: $code-bg;
    border-left: 10px solid $code-border;
  }

  header {
    background: $bg-dark;
  }

  td, th {
    border: 1px solid $border;
  }
}
