.authors {
  &__image {
    float: right;
    margin: 40px 0 40px 30px;

    @media #{$phone} {
      display: flex;
      float: none;
      justify-content: center;
    }
  }

  &__image-caption {
    text-align: center;
  }
}
