<header class="header">
  <div class="header__content app__content">
    <div>
      <h3 class="header__title">
        {% assign main_page = site.pages | where: "identifier", "index" | where: "language", page.language | first %}
        <a href="{{ main_page.url }}">Nitrooos</a>
      </h3>
      <h5 class="header__subtitle">
        {{ site.data.translations[page.language].main_phrase }}
      </h5>
    </div>
    <nav class="header__navigation">
      {% for item in site.data.navigation[page.language] %}
        <a
          class="header__link"
          href="{{ item.link }}">
          {{ item.name }}
        </a>
      {% endfor %}

      {% if site.multilingual %}
        {% if page.language == "english" %}
          {% assign alt_language = "polish" %}
        {% elsif page.language == "polish" %}
          {% assign alt_language = "english" %}
        {% endif %}

        {% if page.identifier %}
          {% assign translatable_documents = site.documents | concat: site.pages %}
          {% assign alt_doc = translatable_documents | where: "identifier", page.identifier | where: "language", alt_language | first %}
        {% endif %}

        {% unless alt_doc %}
          {% assign alt_doc = site.pages | where: "identifier", "blog" | where: "language", alt_language | first %}
        {% endunless %}

        <a href="{{ alt_doc.url }}" class="app__flag">
          <img src="{{ site.baseurl }}/assets/img/flags/{{ alt_doc.language }}.svg" alt="language flag" width="35">
        </a>
      {% endif %}
    </nav>
  </div>
</header>
