<header class="header">
  <div class="header__content app__content">
    <div>
      <h3 class="header__title">
        <a href="/">Nitrooos</a>
      </h3>
      <h5 class="header__subtitle">
        {{ site.data.translations[page.language].main_phrase }}
      </h5>
    </div>
    <nav class="header__navigation">
      {% for item in site.data.navigation[page.language] %}
        <a
          class="header__link"
          href="{{ item.link }}">
          {{ item.name }}
        </a>
      {% endfor %}

      {% if page.language == "english" %}
        {% assign alt_language = "polish" %}
      {% elsif page.language == "polish" %}
        {% assign alt_language = "english" %}
      {% endif %}

      {% if page.identifier %}
        {% assign alt_post = site.posts | where: "identifier", page.identifier | where: "language", alt_language | first %}
        {% assign alt_page = site.pages | where: "identifier", page.identifier | where: "language", alt_language | first %}
        {% assign alt_author = site.authors | where: "name", page.name | where: "language", alt_language | first %}
      {% else %}
        {% assign alt_alternative = site.pages | where: "identifier", "blog" | where: "language", alt_language | first %}
      {% endif %}

      {% if alt_post %}
        <a href="{{ alt_post.url }}" class="app__flag app__flag--{{ alt_post.language }}"></a>
      {% elsif alt_page %}
        <a href="{{ alt_page.url }}" class="app__flag app__flag--{{ alt_page.language }}"></a>
      {% elsif alt_author %}
        <a href="{{ alt_author.url }}" class="app__flag app__flag--{{ alt_author.language }}"></a>
      {% else %}
        <a href="{{ alt_alternative.url }}" class="app__flag app__flag--{{ alt_alternative.language }}"></a>
      {% endif %}
    </nav>
  </div>
</header>
