@import './common/reset';
@import './common/responsiveness';

@import './common/classes';
@import './common/flags';
@import './common/typography';

@import './includes/header';

@import './themes/light/index';

@import './authors';
@import './blog';

.main {
  margin: 0 auto 40px auto;
  padding: 0 20px;

  @media #{$phone} {
    padding: 0 15px;
  }
}
