.header {
  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__link {
    margin: 0 20px;

    &:first-child { margin-left:  0; }
    &:last-child  { margin-right: 0; }
  }

  &__navigation {
    justify-content: space-between;
    display: flex;
  }

  &__subtitle {
    font-size: .8rem;
  }

  &__subtitle,
  &__title {
    font-weight: $font-weight-bold;
    margin: 0;
  }

  &__title {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
}
