$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

a, figcaption, h1, h2, h3, h4, h5, li, p, pre, td, th, ul {
  color: $text-main;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: $link;
  font-weight: $font-weight-bold;
  text-decoration: none;
}

body {
  font-size: 16px;
}

code {
  min-width: 100%;
  width: max-content;
}

em {
  font-style: italic;
}

figcaption {
  font-style: italic;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 1.8rem;
  margin: 60px 0 25px 0;
}

h2 {
  font-size: 1.6rem;
  margin: 50px 0 20px 0;
}

h3 {
  font-size: 1.4rem;
  margin: 40px 0 15px 0;
}

h4 {
  font-size: 1.2rem;
  margin: 30px 0 10px 0;
}

h5 {
  font-size: 1.1rem;
  margin: 20px 0 5px 0;
}

img {
  max-width: 100%;
}

pre {
  font-family: monospace;
  margin: 1rem 0;
  overflow-x: auto;

  code {
    background: $code-bg;
    border-left: 10px solid $code-border;
    display: block;
    padding: .5rem;
  }
}

ol {
  list-style-type: decimal;
}

ol, ul {
  margin: 20px 0;
  padding-left: 20px;
}

table {
  border: 1px solid $border;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin: 20px 0;
  overflow-x: auto;
  width: auto;

  td, th {
    border: 1px solid $border;
    padding: 8px;
    text-align: left;
  }

  th {
    font-weight: $font-weight-bold;
  }
}

ul {
  list-style-type: disc;
}
